doctype html
html(lang='en')
    head
        title Pug Assignemnt
        link(type='text/css', rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.css')
    body
        form()
            div.form-group
                label(for='email') Email
                input.form-control(type='text' id='email' placeholder='email' name='email')
